.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  min-height: calc(100vh - var(--footer-header-height));
}

.link{
  color: rgb(58, 58, 254);
  font-weight: bolder;
}